/* .body {
  background-color: burlywood;
}
.bold-name {
  font-size: large;
  font-weight: bold;
  color: rgb(0, 30, 255);
}
.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.message {
  display: flex;
  justify-content: center;
  align-items: center;
}
 */
